In [ ]:
import pandas as pd
import numpy as np

In [ ]:
csv_path = "HeroesofPymoli.csv"

In [ ]:
HeroesofPymoli_df = pd.read_csv(csv_path)
player_df = HeroesofPymoli_df.loc[:,["SN", "Gender", "Age"]]
player_df = player_df.drop_duplicates()
player_df

In [ ]:
# Total numbers of players
player_df.count()["SN"]

In [ ]:
# Total number of unique Items
items_df = HeroesofPymoli_df.loc[:,["Item Name"]]
items_df = items_df.drop_duplicates()
items_df

In [ ]:
# Number of Unique Items
items_df.count()["Item Name"]

In [ ]:
# Average Purhcase Price
average = HeroesofPymoli_df["Price"].mean()
average

In [ ]:
# Number of Puchases
row_count = HeroesofPymoli_df.shape
print("Number of Rows", row_count)

In [ ]:
# Total Revenue
sum = HeroesofPymoli_df["Price"].sum()
sum

In [ ]:
grouped_heroes_df = HeroesofPymoli_df.groupby(['Gender'])
grouped_heroes_df.count().head(10)

In [ ]:
grouped_heroes_df = HeroesofPymoli_df.loc[:,['SN', "Gender", 'Age']]
grouped_heroes_df = grouped_heroes_df.drop_duplicates()
grouped_heroes_df

In [ ]:
# how much each gender paid for items 
grouped_heroes_df = HeroesofPymoli_df.groupby(['Gender', 'Price'])
grouped_heroes_df.count().head(10)

In [ ]:
number_of_unique_items = len((HeroesofPymoli_df["Item ID"]).unique())
average_price = (HeroesofPymoli_df["Price"]).mean()
number_of_purchases = (HeroesofPymoli_df["Purchase ID"]).count()
total_revenue = (HeroesofPymoli_df["Price"]).sum()

In [ ]:
summary_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                           "Average Price": [average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

In [ ]:
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [ ]:
# group the purchase data by gender

gender_stats = HeroesofPymoli_df.groupby("Gender")

In [ ]:
# Count total of names by gender
gender_count = gender_stats.nunique()["SN"]
print(gender_count)

In [ ]:
# the percentage for total players
player_percentage = gender_count / 576 * 100
print(player_percentage)

In [ ]:
gender_demographics = pd.DataFrame({"Player Percentage": player_percentage, "Gender Count": gender_count})

In [ ]:
gender_demographics.index.name = None

In [ ]:
gender_demographics.sort_values(["Gender Count"], ascending=False).style.format({"Player Percentage":"{:.2f}"})

In [ ]:
# Total purchases by gender
purchase_count = gender_stats["Purchase ID"].count()

In [ ]:
# Average purchase price by gender
avg_purchase_price = gender_stats["Price"].mean()

In [ ]:
# Average purchase total by gender
avg_purchase_total = gender_stats["Price"].sum()

In [ ]:
avg_purchase_per_person = avg_purchase_total/gender_count

In [ ]:
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

In [ ]:
gender_demographics.index.name = "Gender"

In [ ]:
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [ ]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [ ]:
HeroesofPymoli_df["Age Group"] = pd.cut(HeroesofPymoli_df["Age"],age_bins, labels=group_names)
HeroesofPymoli_df

In [ ]:
aged_group = HeroesofPymoli_df.groupby("Age Group")

In [ ]:
age_count = aged_group["SN"].nunique()

In [ ]:
age_percentage = (age_count/576)*100

In [ ]:
age_demographics = pd.DataFrame({"Percentage of Players": age_percentage, "Total Count": age_count})

In [ ]:
age_demographics.index.name = None

In [ ]:
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

In [ ]:
# Purchasing Analysis
purchase_count_age = aged_group["Purchase ID"].count()

In [ ]:
avg_purchase_price_age = aged_group["Price"].mean()

In [ ]:
total_purchases = aged_group["Price"].sum()

In [ ]:
avg_purchase_per_person_age= total_purchases/age_count

In [ ]:
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchases,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

In [ ]:
age_demographics.index.name = None

In [ ]:
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [ ]:
# Top Spenders
spender_stats = HeroesofPymoli_df.groupby("SN")

In [ ]:
count_purchase_spender = spender_stats["Purchase ID"].count()

In [ ]:
avg_price_spender = spender_stats["Price"].mean()

In [ ]:
spender_total = spender_stats["Price"].sum()

In [ ]:
top_spenders = pd.DataFrame({"Purchase Count": count_purchase_spender,
                             "Average Purchase Price": avg_price_spender,
                             "Total Purchase Value":spender_total})

In [148]:
format_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

In [150]:
format_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})